<section class="bg-[#065A9C]">
  <div class="w-full flex justify-center items-center flex-wrap text-black">
    <div class="block bg-slate-100 shadow-lg rounded-lg mt-8">
      <div class="lg:flex sm:p-4 g-0">
        <div class="md:p-12 md:mx-6">
          <div class="text-center">
            <img
              class="mx-auto w-28 pt-8"
              src="https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG.png"
              alt="logo"
            />
            <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">Pokemon</h4>
          </div>
          <app-landing-form (login)="handleLogin()"></app-landing-form>
        </div>
      </div>
    </div>
  </div>
</section>
