<li
  *ngIf="pokemon"
  class="mb-2 mt-2 bg-[#C2D5E4] shadow-2xl rounded-md relative"
>
  <app-catch-button [pokemonName]="pokemon.name"></app-catch-button>

  <section class="p-6">
    <img [src]="pokemon.image" [alt]="pokemon.name" class="block w-60" />
  </section>
  <section class="p-6">
    <span class="text-xl">{{ pokemon.name }}</span>
  </section>
</li>
