<span class="fixed inset-x-0 bottom-0 text-xl py-2 bg-white bg-opacity-90">
  <div class="flex justify-center">
    <nav>
      <ul class="flex list-style-none text-xl">
        <button *ngIf="!isOnFirstPage()" (click)="onChangePrevious()" class="page-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="w-20 h-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
            />
          </svg>
        </button>

        <button (click)="onChangeNext()" class="page-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="w-20 h-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
            />
          </svg>
        </button>
      </ul>
    </nav>
  </div>
</span>
