<nav
  class="bg-[#FF0000] text-xl flex justify-between items-center px-8 py-4 sticky top-0 w-full z-50"
>
  <span class="font-bold text-white">Pokémon Online Portal</span>
  <ng-container *ngIf="user !== undefined">
    <ul class="flex">
      <li class="px-4">
        <a routerLink="/catalogue">Catalogue</a>
      </li>
      <li class="px-4">
        <a routerLink="/profile">Profile</a>
      </li>
    </ul>
  </ng-container>
</nav>
