<main class="container mx-auto p-4 pt-6">
  <div class="flex justify-between">
    <h4 class="block text-white">Your Pokemon Collection:</h4>
    <button
      (click)="onLogoutClick()"
      class="justify-end bg-[#C2D5E4] inline-block px-6 py-2 border-2 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
    >
      Logout
    </button>
  </div>
  <app-pokemon-list [pokemons]="pokemonCollection"></app-pokemon-list>
</main>
