<aside class="absolute bottom-4 right-4">
  <button
    *ngIf="!inUserCollection(pokemonName)"
    class="p-1 hover:animate-pulse"
    (click)="onCatchClick()"
  >
    <img
      class="w-8"
      src="../assets/images/icons/pokemon-ball-png-1.png"
    />
  </button>
  <button
    *ngIf="inUserCollection(pokemonName)"
    class="p-1"
    (click)="onReleaseClick()"
  >
    <img
      class="w-8 opacity-20"
      src="../assets/images/icons/pokemon-ball-png-1.png"
    />
  </button>
</aside>
