<form #landingForm="ngForm" (ngSubmit)="loginSubmit(landingForm)">
    <p class="mb-4">Please login to your account</p>
    <div class="mb-2 w-full">
      <input
        ngModel
        #username="ngModel"
        type="text"
        class="justify-start form-control block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        name="username"
        id="username"
        placeholder="Username"
      />
    </div>

    <button type="submit"
      routerLink="/catalogue"
      class="justify-end inline-block px-6 py-2 border-2 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
      >Login</button
    >

    <h4 class="text-red-600">{{ error }}</h4>

    <div class="flex items-center justify-between pb-6 mt-10">
      <p class="mb-0 mr-2">Don't have an account?</p>

      <a routerLink="/register" class="text-blue-500">Register</a>
    </div>
  </form>