<main class="container mx-auto px-4">
  <section class="w-full bg-[#065A9C]" style="margin-right: 10%">
    <div class="container py-12 px-6">
      <div class="flex justify-center items-center flex-wrap text-black">
        <div class="block bg-slate-100 shadow-lg rounded-lg">
          <button
            routerLink="/"
            class="justify-end inline-block px-6 py-2 ml-6 mt-6 border-2 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
          >
            < Back
          </button>
          <div class="lg:flex sm:p-2 g-0">
            <div class="md:p-12 md:mx-6">
              <div class="text-center">
                <img
                  class="mx-auto w-28 pt-8"
                  src="https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG.png"
                  alt="logo"
                />
                <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">Pokemon</h4>
              </div>
              <app-register-form></app-register-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
