<form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm)">
  <fieldset class="mb-3">
    <label for="username" class="block">Username</label>
    <input
      type="text"
      ngModel
      #username="ngModel"
      name="username"
      id="username"
      class="border border-slate-300 p-2 rounded w-full"
      placeholder="ash"
    />
  </fieldset>
  <h4 class="text-red-600">{{ error }}</h4>
  <button
    type="submit"
    [disabled]="registerForm.invalid || loading"
    class="justify-end inline-block px-6 py-2 border-2 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
  >
    Register
  </button>
  
</form>

