<main class="container mx-auto">
  <div
    class="block rounded-md shadow-lg bg-[#C2D5E4] p-4 m-10 mb-20 justify-around"
  >
    <p *ngIf="loading">Loading pokemon...</p>
    <app-pokemon-list *ngIf="!loading" [pokemons]="pokemons"></app-pokemon-list>
    <app-paginator></app-paginator>
  </div>
</main>
