@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-dark-blue {
    background-color: #065A9C;
}

@font-face {
    font-family: Ketchum;
    src: url(assets/fonts/Ketchum.otf) format("truetype");
}
@font-face {
    font-family: Classic;
    src: url(assets/fonts/PokemonClassic.ttf) format("truetype");
}

.Ketchum {
    font-family: Ketchum;
}

.Classic {
    font-family: Classic;
}